.body {
  background-color: white;
}

.header {
  background-color: #b4e076;
  display: flex;
  justify-content: space-between;
}

.header h1 {
  font-size: 50px;
}

.profile {
  display: flex;
  flex-direction: row;
}

.itemDisplay {
  border: 5px solid black;
}

.itemDisplay p {
  color: black;
}

.itemDisplay:hover {
  box-shadow: 10px 10px 5px grey;
}

.signOutBtn {
  background-color: gray;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 25px;
}

.signOutBtn:hover {
  background-color: rgb(159, 156, 156);
}
